# Copyright (c) 2021, TODO
# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_CH32V3X=y
CONFIG_SOC_CH32V307=y
CONFIG_BOARD_CH32V307V_EVT=y

# CONFIG_GPIO=y
# CONFIG_CONSOLE=y
# CONFIG_UART_CONSOLE=y
# CONFIG_SERIAL=y